* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  max-width: 100%;
  min-height: 100vh;
  // column-gap: 20px;
  background: #80afcd;
  // display: flex;
  // justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .App {
    // flex-direction: column;
  }
}
